# Служебные папки Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.dart_fvm/

# Игнорируем локальную базу данных и сгенерированные иконки
*.db
*.db-journal
android/app/src/main/res/mipmap-*/
ios/Runner/Assets.xcassets/AppIcon.appiconset/

# Файлы IDE (VS Code, Android Studio)
.vscode/
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Секретные ключи (если появятся позже)
*.keystore
*.jks
key.properties

# Игнорируем неиспользуемые платформы и служебные папки
ios/
linux/
macos/
web/
.vscode/
installer_output/